In [1]:
!wget https://github.com/matbahasa/TALPCo/raw/master/tha/data_tha.txt
!wget https://github.com/matbahasa/TALPCo/raw/master/eng/data_eng.txt

--2024-03-29 07:52:22--  https://github.com/matbahasa/TALPCo/raw/master/tha/data_tha.txt
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/matbahasa/TALPCo/master/tha/data_tha.txt [following]
--2024-03-29 07:52:23--  https://raw.githubusercontent.com/matbahasa/TALPCo/master/tha/data_tha.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 131356 (128K) [text/plain]
Saving to: ‘data_tha.txt’

data_tha.txt        100%[===================>] 128.28K  --.-KB/s    in 0.02s

2024-03-29 07:52:23 (7.18 MB/s) - ‘data_tha.txt’ saved [131356/131356]

--2024-03-29 07:52:24--  https://github.com/matbahasa/TALPCo/raw/master/eng/data_eng.txt
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/matbahasa/TALPCo/master/eng/data_eng.txt [following]
--2024-03-29 07:52:24--  https://raw.githubusercontent.com/matbahasa/TALPCo/master/eng/data_eng.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 62051 (61K) [text/plain]
Saving to: ‘data_eng.txt’

data_eng.txt        100%[===================>]  60.60K  --.-KB/s    in 0.008s

2024-03-29 07:52:25 (7.58 MB/s) - ‘data_eng.txt’ saved [62051/62051]

In [4]:
from collections import defaultdict
data=defaultdict(dict)

with open("data_tha.txt","r") as lines:
    for i in lines:
        _t=i.strip().split("	")
        data[_t[0]]["th"]=_t[1]
with open("data_eng.txt","r") as lines:
    for i in lines:
        _t=i.strip().split("	")
        data[_t[0]]["en"]=_t[1]

In [6]:
import pandas as pd
df=pd.DataFrame.from_dict({"translation":list(data.values())})

In [7]:
df

                                            translation
0     {'th': 'คุณทานากะไม่ใช่นักเรียนครับ', 'en': 'M...
1     {'th': 'พ่อเป็นอาจารย์ครับ', 'en': 'My father ...
2     {'th': 'โรงเรียนหยุดครับ', 'en': 'There is no ...
3     {'th': 'โตเกียวอากาศแจ่มใสครับ', 'en': 'It was...
4     {'th': 'ที่สวนสาธารณะมีต้นไม้ครับ', 'en': 'The...
...                                                 ...
1367  {'th': 'กินขนมไปชิ้นเดียวค่ะ', 'en': 'I ate on...
1368  {'th': 'B: ๑,๒,๓,๔...', 'en': 'B: One, two, th...
1369  {'th': 'A: มีเท่าไรคะ', 'en': 'A: How many are...
1370  {'th': 'ในตู้เย็นมีไข่ ๗ ฟองค่ะ', 'en': 'There...
1371  {'th': 'จะไปบริษัท ๙ โมงทุกเช้าค่ะ', 'en': 'I ...

[1372 rows x 1 columns]

In [8]:
df.to_csv("talpco-en-th.csv",index=False)